html,body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd,div,span,a,b,i,strong,em,img,form,input,textarea,table,th,td{
    padding: 0;
    margin: 0;
}
html,body{
    font-family:'Microsoft Yahei';
    height: 100%;
}
input,button,select,textarea{
    outline: none;
}
.mt10{
    margin-top: 10px;
}
.mt30{
    margin-top: 30px;
}
.mt50{
    margin-top: 50px;
}

.page-header{
    padding: 25px;
    margin: 0;
}
.container-fluid{
    height: calc(100% - 90px);
}
.container-fluid>.row, .left-bar, .main{
    height: 100%;
}
.left-bar{
    padding: 20px;
    border-right: 1px solid #eee;
}
.main{
    padding: 20px;
    position: relative;
}

/*user*/
.user-head{
    padding-bottom: 20px;
}
.control-text{
    padding-top: 7px;
}
.cursor-pointer{
    cursor: pointer;
    color: #337ab7;
}

/* 分页 */
.page{padding: 20px 0;position: absolute;bottom: 30px;left: 0;width: 100%;}
.page-contain{margin:auto;line-height:30px;height:30px;text-align:center;font-size:14px;color:#303030;}
.page-contain .cur{border:1px solid #06B5DF;color:#ffffff;background:#06B5DF;}
.page-contain input{background:#fff;}
.page-contain-link{line-height:30px;height:30px;margin-left:5px;display:inline-block;border:1px solid #DCD9D5;padding:0 8px;cursor:pointer;background:#f5f5f5;color:#337ab7;}