<div>
    <h2>Product List</h2>
    <!--<user-list companyid="a_company_info.companyId"-->
                      <!--vendorid="a_vendor_info.vendorId"-->
                      <!--currencyid="a_currency_info.id"-->
                      <!--taxid="a_tax_info.id"-->
                      <!--conditionid="a_trading_info.id"-->
                      <!--paywayid="a_pay_info.payWayId"-->
                      <!--value="line.prod"-->
                      <!--name="line.prod.prodCode"-->
                      <!--multi="false"-->
                      <!--dropdown="false"-->
                      <!--class=""-->
                      <!--style="width:100%;"-->
                      <!--can-win="f_can_win()"-->
                      <!--can-win-tip="f_can_win_tip()"-->
                      <!--on-change="f_default_p_range(line)">-->
    <!--</user-list>-->
</div>
