<div class="dropdown dropdown-select">
    <button type="button" class="btn btn-info btn-sm" ng-click="openWin()">选择产品负责人</button>

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">选择用户</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>用户名</th>
                            <th>邮箱</th>
                            <th>手机号</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="i in userList">
                            <td ng-bind="i.userName"></td>
                            <td ng-bind="i.email"></td>
                            <td ng-bind="i.phone"></td>
                            <td class="tc" ng-click="selectBtn(i)"><button type="button" class="btn btn-xs btn-info">选择</button></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm" style="width:80px" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

</div>
